<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{active}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
        <ul class="navbar-nav bg-primary">
            <li class="nav-item">
                <a class="nav-link text-white" href="/light">Light</a>
                <a class="nav-link text-white" href="/temperature">Temperature</a>
            </li>
        </ul>
    </div>
</div>
